<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 
<section id="main" class="wrapper">
	<div class="inner">
		<header class="align-left">
			<h1><img src="./images/sell.png" width="32px" height="32px" style="vertical-align: middle;"/>
			New Bulk Entry</h1>
			
		</header>
		
		<div class="row uniform">
			<div class="12u$ 12u$(small)">
				<br/>
				<p>Enter the details of the newly approved bulk request from CBN</p>
			</div>
			<div id="formView" class="12u$ 12u$(small)">
				<div class="row uniform">
				
					<div class="6u 12u$(small)">
						<oj-label for="txtID">Request/Application Number</oj-label>
						<oj-input-text placeholder='CBN Approved Application Number' id="txtID"  inputmode="text"
										style='max-width: 100%; font-size: 12pt;padding-bottom:6px;' 
										></oj-input-text>
					</div>
					
					<div class="6u$ 12u$(small)">
						<oj-label for="txtAmount">FX Amount</oj-label>
						<oj-input-text placeholder='FX Amount' id="txtAmount"  inputmode="text"
										style='max-width: 100%; font-size: 12pt;padding-bottom:6px;' 
										></oj-input-text>
					</div>
					
					<div class="12u$ 12u$(medium)">
						<oj-label for="txtLetter">Description/Note</oj-label>
						<oj-text-area id="txtLetter" rows="6" style='max-width: 100%; font-size: 12pt;padding-bottom:6px;'></oj-text-area>
					</div>
					<div class="12u$ 12u$(small)">
						<oj-file-picker on-oj-select='[[selectListener]]' style='max-width: 100%;'>
							<div tabindex='0' slot='trigger'
								  class='oj-filepicker-dropzone'>
							   <p class='oj-filepicker-text'><br/>I'm a clickable dropzone<br/>Add Supporting Document</p>
							</div>
						</oj-file-picker>
						<br/>
						<div style="width: 100%;">
						  <oj-progress value="{{progressValue}}" class='oj-progress-bar-embedded' 
							max="100" style="height:30px;"></oj-progress>
						  <div class="oj-progress-bar-start-label">0%</div>
						  <div class="oj-progress-bar-end-label">100%</div>
						</div>
						<br/>
						<span id="selectedFile"></span>
					</div>
					
					<div class="12u$ 12u$(medium)">
					<span id="status"></span>
					</div>
					<div class="6u$ 12u$(medium)">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<a href="#" class="button special fit small" data-bind="click: saveFXRequestAction">Submit Bulk FX Entry</a>
								
							</div>
							<div class="6u$ 12u$(small)">
								<a href="#" class="button special fit small" data-bind="click: newButtonAction">Reset</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>


