<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 
<section id="main" class="wrapper">
	<div class="inner">
		<header class="align-left">
			<h1><img src="./images/list.png" width="32px" height="32px" style="vertical-align: middle;"/>
			CBN Bulk Allocation</h1>
			<hr/>
		</header>
		
		<div class="row">
			<div id="searchView" class="12u$ 12u$(small)">
				<div class="row uniform">
					<div class="12u$ 12u$(small)">
						<span id="pstatus"></span>
					</div>
					<div class="6u 12u$(small)">
						<oj-input-text placeholder='Search Description' id="txtSearch"  inputmode="number"
										style='max-width: 100%; font-size: 12pt;padding-bottom:6px;' 
										></oj-input-text>
					</div>
					<div class="6u$ 12u$(small)">
						<a href="#" class="button default icon fa-search" data-bind="click: searchButtonAction">Search</a>
					</div>
					
					<div class="12u$ 12u$(medium)">
						<oj-table id="bulkList" aria-label="Form M List"
							data='[[bulkPaginDataSource]]' 
							display='grid'
							selection-mode='{"row": "single"}'
							columns-default='{"sortable": "enabled"}' 
							columns='[
									  
									  {"headerText": "Application/Request No.",  "field": "entryKey", "style": "width: 15%"},
									   
									  {"headerText": "Approved Amount", "field": "approvedAmount", "style": "width: 15%"},
									   
									  {"headerText": "Description", "field": "description", "style": "width: 40%"}
									   
									  ]' 
							style='width: 100%;'>
							<oj-paging-control id="paging" data='[[bulkPaginDataSource]]' page-size='5' slot='bottom'>
							</oj-paging-control>
						</oj-table>
					</div>
					<div class="4u 12u$(small)">
						<a href="#" class="button fit special icon fa-search" data-bind="click: selectFormButtonAction">Use Selected</a>
					</div>
					<div class="4u$ 12u$(small)">
						<a href="#" class="button fit default icon fa-search" data-bind="click: cancelSearchButtonAction">Cancel</a>
					</div>
				</div>
			</div>
			
			<div id="formView" class="12u$ 12u$(small)">
				<div class="row uniform">
					<div class="4u 4u(medium)">
						<oj-label for="txtApprovedAmount">Approved Amount:</oj-label>
						<oj-input-text placeholder='Approved Amount' id="txtApprovedAmount"  inputmode="text" class="oj-helper-text-align-end"
										style='max-width: 100%; font-size: 12pt;padding-bottom:6px;' value="{{approvedAmount}}"
										></oj-input-text>
						
					</div>
					<div class="12u$ 12u$(medium)">
					These are approved Form M elegible for FX allocation based on CBN Bulk Fund Approval.
					</div>
			
					<div class="12u$ 12u$(medium)">
						<oj-table id="formMList" aria-label="Form M List"
							data='[[paginDataSource]]' 
							display='grid'
							edit-mode='rowEdit'
							selection-mode='{"row": "single"}'
							columns-default='{"sortable": "enabled"}' 
							columns='[
									  {"headerText": "Form Number",  "field": "formid", "style": "width: 15%"},
									   
									  {"headerText": "Form Type", "field": "formType", "style": "width: 35%"},
									   
									  {"headerText": "Form M No.", "field": "formmnumber", "style": "width: 15%"},
									  
									  {"headerText": "Application No.", "field": "applicationnumber", "style": "width: 15%"},
									  
									  {"headerText": "Total Amount",  "field": "total_amount", "style": "width: 15%", "headerClassName": "oj-helper-text-align-end", "className": "oj-helper-text-align-end"},
									  {"headerText": "Paid Amount",  "field": "paid_amount", "style": "width: 15%", "headerClassName": "oj-helper-text-align-end", "className": "oj-helper-text-align-end"},
									  
									  {"field":"amount",
									   "headerText": "Allocation",
									   "headerStyle": "min-width: 12em; max-width: 12em; width: 12em",
									   "headerClassName": "oj-helper-text-align-end",
									   "style": "min-width: 12em; max-width: 12em; width: 12em",
									   "className": "oj-helper-text-align-end",
									   "template": "locIdTemplate"}
									  ]' 
							style='width: 100%;'>
							<oj-paging-control id="paging" data='[[paginDataSource]]' page-size='5' slot='bottom'>
							</oj-paging-control>
							
							<!--
							,
									   
									  {"headerText": "Action",
									   "headerStyle": "min-width: 5em; max-width: 10em; width: 10em;text-align: center;",
									   "style":"padding:0px;text-align: center; margin:10px;",
									   "template": "actionTemplate"}
							-->
							<template slot="locIdTemplate" data-oj-as="cell">
							  <oj-bind-if test='[[cell.mode=="navigation"]]'>
								<oj-bind-text value="[[cell.data]]"></oj-bind-text>
							  </oj-bind-if>
						  
							  <oj-bind-if test='[[cell.mode=="edit"]]'>
								<oj-input-text id="it2" style="background:#CC0000; color:#FFFFFF;" value="{{cell.row.amount}}"></oj-input-text>
							  </oj-bind-if>
							</template>
							
							<template slot="actionTemplate" data-oj-as="cell">
							  <oj-bind-if test='[[cell.mode=="navigation"]]'>
								<a href="#" class="button special fit small" style="width:5em;margin-bottom: 0px;" data-bind="click: handleUpdate">Edit</a>
							  </oj-bind-if>
						  
							  <oj-bind-if test='[[cell.mode=="edit"]]'>
								<a href="#" class="button special fit small" style="width:5em;margin-bottom: 0px;" data-bind="click: handleDone">Save</a>
							  </oj-bind-if>
							</template>
							
						</oj-table>
					</div>
					<div class="3u$ 3u$(medium)">
						<oj-label for="txtUnAmount">Unallotted Amount:</oj-label>
						<oj-input-text placeholder='Unalloted Approved Amount' id="txtUnAmount" readonly inputmode="text" class="oj-helper-text-align-end"
										style='max-width: 100%; font-size: 12pt;padding-bottom:6px;background:#CCCCCC;color:#FFFFFF' value="{{unallottedAmount}}"
										></oj-input-text>
						
					</div>
					<div class="6u$ 12u$(medium)">
						<div class="row uniform">
							
							<div class="12u$ 12u$(small)">
								<span id="status"></span>
							</div>
							<div class="6u$ 12u$(small)">
								<a href="#" class="button special fit small" data-bind="click: saveButtonAction">Save Allotted Amount</a>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


